@page "/"

@using Helpy.Conversation;
@inject HttpClient Http

<PageTitle>XIVLauncher Help</PageTitle>

@if(conversation == null)
{
    <p>Loading...</p>
}
else
{
    var lastWasUser = true;
    @foreach (var message in conversation.Messages)
    {
        var isChange = lastWasUser != message.IsUser;

        var msgClass = "msg " + (message.IsUser ? "msg-user" : "msg-bot");
        if (!isChange)
            msgClass += " connected";

        <div class="@msgClass">
            @if (isChange)
            {
                <span class="username">@(message.IsUser ? "You" : "Helpy")</span>
                lastWasUser = message.IsUser;
            }
            
            <p>@((MarkupString)message.Text)</p>
        </div>
    }

    @switch(conversation.State)
    {
        @case ConversationManager.ConversationState.Default:
            break;

        @case ConversationManager.ConversationState.UploadTsPack:
        {
            <hr />
            <p>Drag the .tspack file here.</p>
                <InputFile OnChange="@LoadTsPack"></InputFile>
        }
            break;

        @case ConversationManager.ConversationState.Choicer:
        {
            <hr />
            <p>Please pick a choice:</p>
            @foreach(var choice in conversation.Choices!)
            {
                    <p><a @onclick="() => conversation.ChoicerChoose(choice.Key)" href="#">@choice.Value</a></p>
            }
        }    
            break;

        @case ConversationManager.ConversationState.Finish:
        {
            <hr />
                <p>Thanks for using Helpy! I hope we could be helpful. If you have any more questions, don't hesitate to reach out.</p>
        }
            break;
    }
}

@code {
    private ConversationManager? conversation;

    public async Task RunDialogue()
    {
        conversation = new ConversationManager();
        await conversation.LoadAndInit(Http);
    }

    public async Task LoadTsPack(InputFileChangeEventArgs e)
    {
        using var stream = e.File.OpenReadStream(50_000_000);
        conversation!.LoadTsPack(await ReadFully(stream));
    }

    public static async Task<byte[]> ReadFully(Stream input)
    {
        using (MemoryStream ms = new MemoryStream())
        {
            await input.CopyToAsync(ms);
            return ms.ToArray();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await RunDialogue();
    }
}