@page "/"
@using Helpy.Shared.Conversation

@inject HttpClient Http
@inject IJSRuntime JSRuntime

<PageTitle>XIVLauncher Help</PageTitle>

@if(conversation == null)
{
    <p>Loading...</p>
}
else
{
    <!-- HELPY CONVERSATION -->
    var lastWasUser = true;
    @foreach (var message in conversation.Messages)
    {
        var isChange = lastWasUser != message.IsUser;

        var msgClass = "msg " + (message.IsUser ? "msg-user" : "msg-bot");
        @if (isChange)
        {
            var nameClass = "name " + (message.IsUser ? "name-user" : "name-bot");
            <span class=@nameClass>@(message.IsUser ? "You" : "Helpy")</span>
            lastWasUser = message.IsUser;
        }
        <div class="@msgClass" @key="message">
            @if (message is ConversationManager.TextMessage textMessage)
            {
                <p>@((MarkupString)textMessage.Text)</p>
            }
            else if (message is ConversationManager.ImageMessage imageMessage)
            {
                <div class="msg-img-container">
                    <img src="@imageMessage.Src" alt="@imageMessage.Alt"/>
                </div>
            }
        </div>
    }
    
    @if (conversation.IsThinking)
    {
        <div class="msg msg-bot">
            <div class="typingcontainer">
                <span class="typingindicator"></span>
            </div>
        </div>
    }

    @switch(conversation.State)
    {
        case ConversationManager.ConversationState.Default:
            break;

        case ConversationManager.ConversationState.UploadTsPack:
        {
            <hr />
            <div class="msg msg-action">
                <p>Drag the .tspack file here.</p>
                <InputFile OnChange="@LoadTsPack" accept=".tspack"></InputFile>
            </div>
        }
            break;

        case ConversationManager.ConversationState.Choicer:
        {
            <hr />
            <div class="msg msg-choices">
            <p>Please pick a choice:</p>
                @foreach(var choice in conversation.Choices!)
                {
                        <p class="choice"><a @onclick="() => conversation.ChoicerChoose(choice.Key)" href="#">@choice.Value</a></p>
                }
            </div>
        }    
            break;

        case ConversationManager.ConversationState.Finish:
        {
            <hr />
            <div class="endofconvo">
                <p>Thanks for using Helpy! I hope we could be helpful. If you have any more questions, don't hesitate to reach out.</p>
                <p><a @onclick="@CopyConversation" href="#">Copy conversation to clipboard</a></p>
            </div>
        }
            break;
    }
}

@code {
    private ConversationManager? conversation;

    public async Task CopyConversation()
    {
        if (this.conversation == null)
            return;

        var conversationLog = "```\n";
        foreach (var message in conversation.Messages)
        {
            conversationLog += (message.IsUser ? "User" : "System") + ":\n";
            
            if (message is ConversationManager.TextMessage textMessage)
                conversationLog += textMessage.Text + "\n";
            else if (message is ConversationManager.ImageMessage imageMessage)
                conversationLog += $"[{imageMessage.Alt}]" + "\n";
            
            conversationLog += "========================\n";
        }
        
        conversationLog += "END OF CONVERSATION\n```";
        
        await JSRuntime.InvokeVoidAsync("clipboardCopy.copyText", conversationLog);
    }
    
    public async Task RunDialogue()
    {
        Console.WriteLine("Begin loading");
        conversation = new ConversationManager();
        conversation.OnBeginThinking += (_, _) => StateHasChanged();
        conversation.OnEndThinking += (_, _) => StateHasChanged();
        conversation.OnHaveNewMessage += (_, _) => StateHasChanged();
        conversation.OnStateChange += (_, _) => StateHasChanged();
        
        await conversation.LoadAndInit(Http);
        Console.WriteLine("End loading");
    }

    public async Task LoadTsPack(InputFileChangeEventArgs e)
    {
        using var stream = e.File.OpenReadStream(50_000_000);
        conversation!.LoadTsPack(await ReadFully(stream));
    }

    public static async Task<byte[]> ReadFully(Stream input)
    {
        using (MemoryStream ms = new MemoryStream())
        {
            await input.CopyToAsync(ms);
            return ms.ToArray();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await RunDialogue();
    }
}